a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  font-family: 'Cormorant Infant', serif;
  font-size: 62.5%;
  text-align: center;
  text-transform: capitalize;
  color: #f8f1de;
  cursor: default;
}

body {
  background-color: #978461;
}

.wrapper,
.gradient {
  width: 75%;
  margin: 0 auto;
  max-width: 1200px;
  background-image: url(../assets/treebark.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media (max-width: 640px) {
  .wrapper,
  .gradient {
    width: 100%;
  }
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.gradient {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 35, 25, 0.66087)), color-stop(11%, rgba(35, 35, 25, 0.868698)), color-stop(22%, rgba(35, 35, 25, 0.944928)), color-stop(31%, #232319));
  background: linear-gradient(180deg, rgba(35, 35, 25, 0.66087) 0%, rgba(35, 35, 25, 0.868698) 11%, rgba(35, 35, 25, 0.944928) 22%, #232319 31%);
  height: 100vh;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  padding: 50px 40px;
  text-shadow: 8px 6px 3px black;
  position: relative;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 15px;
  width: 230px;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 5px 5px 3px #232319;
}

h3 {
  font-size: 1rem;
}

label,
select,
a,
p {
  font-size: 1.3rem;
  text-transform: none;
}

a {
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form select {
  border: none;
  background-color: #978461;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  width: 300px;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  form select {
    width: 80%;
    max-width: 300px;
  }
}

form select:hover {
  background-color: #f8f1de;
  cursor: pointer;
}

form option {
  color: #232319;
  font-size: 1.2rem;
  background-color: #978461;
  position: absolute;
}

#cardHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: 50px;
}

#cardHolder .cardContainer {
  border: 7px solid #978461;
  margin: 20px;
  background: #3c3b21;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 20px -5px black;
          box-shadow: 5px 5px 20px -5px black;
  max-height: 500px;
}

#cardHolder .cardContainer .imageContainer {
  height: 280px;
  width: 200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 67% 0;
  -webkit-box-shadow: 10px 10px 10px #232319;
          box-shadow: 10px 10px 10px #232319;
}

#cardHolder .cardContainer .imageContainer .defaultImage {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.plantInfoContainer {
  height: 280px;
  width: 200px;
  margin: 20px auto;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 10px #232319;
          box-shadow: 10px 10px 10px #232319;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.plantInfoContainer .plantInfoImage {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.footerWrapper {
  width: 75%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 640px) {
  .footerWrapper {
    width: 100%;
  }
}

footer {
  background: #232319;
  line-height: 2rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
}

footer p {
  padding: 50px 20px;
}

@media (max-width: 640px) {
  footer {
    width: 100%;
    padding-bottom: 20px;
  }
}
